body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.flexible-part{
    display: flex;
    margin-bottom: 150px;
}
.profile-part{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
   
}

h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width:85%;
}
.link-btn{
    text-decoration: none;
    background-color: orange;
    color: white;
    padding: 11px 35px;
    background-image: linear-gradient(orange,tomato,green,red);
    border-radius: 5px;
    font-weight: 700;

}
.dream-part{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding: 25px;
}
h2{
    font-size: 30px;
}
.experiences-part{
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.deveoper-box{
    width: 40%;
    margin-left:5%;
    margin-right: 5%;
    padding-left: 35px;
    box-shadow: 10px 10px 40px tomato;
    padding-bottom: 15px;
   
}
#baby-developer{
    border-left:7px forestgreen solid;
    border-image: linear-gradient(blue,orange);
    border-image-slice: 1;
}
#full-developer{
    border-left:7px forestgreen solid;
    border-image: linear-gradient(orange,gray);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    color: gray;
}